ECompilerService/src/conf/xml-resources/web-service-references/ECompilerService/wsdl/localhost_8080/ECompilerService/ECompilerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.ecompilerlab/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.ecompilerlab/" name="ECompilerService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.ecompilerlab/" schemaLocation="http://localhost:8080/ECompilerService/ECompilerService?xsd=1"/>
</xsd:schema>
</types>
<message name="doCompile">
<part name="parameters" element="tns:doCompile"/>
</message>
<message name="doCompileResponse">
<part name="parameters" element="tns:doCompileResponse"/>
</message>
<message name="getInfoByPlatform">
<part name="parameters" element="tns:getInfoByPlatform"/>
</message>
<message name="getInfoByPlatformResponse">
<part name="parameters" element="tns:getInfoByPlatformResponse"/>
</message>
<message name="getAllAvailableLibraries">
<part name="parameters" element="tns:getAllAvailableLibraries"/>
</message>
<message name="getAllAvailableLibrariesResponse">
<part name="parameters" element="tns:getAllAvailableLibrariesResponse"/>
</message>
<message name="getLibrariesByID">
<part name="parameters" element="tns:getLibrariesByID"/>
</message>
<message name="getLibrariesByIDResponse">
<part name="parameters" element="tns:getLibrariesByIDResponse"/>
</message>
<message name="getSupportedPlatforms">
<part name="parameters" element="tns:getSupportedPlatforms"/>
</message>
<message name="getSupportedPlatformsResponse">
<part name="parameters" element="tns:getSupportedPlatformsResponse"/>
</message>
<portType name="ECompilerService">
<operation name="doCompile">
<input wsam:Action="http://service.ecompilerlab/ECompilerService/doCompileRequest" message="tns:doCompile"/>
<output wsam:Action="http://service.ecompilerlab/ECompilerService/doCompileResponse" message="tns:doCompileResponse"/>
</operation>
<operation name="getInfoByPlatform">
<input wsam:Action="http://service.ecompilerlab/ECompilerService/getInfoByPlatformRequest" message="tns:getInfoByPlatform"/>
<output wsam:Action="http://service.ecompilerlab/ECompilerService/getInfoByPlatformResponse" message="tns:getInfoByPlatformResponse"/>
</operation>
<operation name="getAllAvailableLibraries">
<input wsam:Action="http://service.ecompilerlab/ECompilerService/getAllAvailableLibrariesRequest" message="tns:getAllAvailableLibraries"/>
<output wsam:Action="http://service.ecompilerlab/ECompilerService/getAllAvailableLibrariesResponse" message="tns:getAllAvailableLibrariesResponse"/>
</operation>
<operation name="getLibrariesByID">
<input wsam:Action="http://service.ecompilerlab/ECompilerService/getLibrariesByIDRequest" message="tns:getLibrariesByID"/>
<output wsam:Action="http://service.ecompilerlab/ECompilerService/getLibrariesByIDResponse" message="tns:getLibrariesByIDResponse"/>
</operation>
<operation name="getSupportedPlatforms">
<input wsam:Action="http://service.ecompilerlab/ECompilerService/getSupportedPlatformsRequest" message="tns:getSupportedPlatforms"/>
<output wsam:Action="http://service.ecompilerlab/ECompilerService/getSupportedPlatformsResponse" message="tns:getSupportedPlatformsResponse"/>
</operation>
</portType>
<binding name="ECompilerServicePortBinding" type="tns:ECompilerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="doCompile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInfoByPlatform">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllAvailableLibraries">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLibrariesByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSupportedPlatforms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ECompilerService">
<port name="ECompilerServicePort" binding="tns:ECompilerServicePortBinding">
<soap:address location="http://localhost:8080/ECompilerService/ECompilerService"/>
</port>
</service>
</definitions>